*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
img{
    max-width: 100%;
    

}
.logo{
    font-size: 20px;
    font-weight: bold;

}
.logo-text{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    justify-content:space-between;
    gap: 30px;
    list-style: none ;  
    align-items: center;
}
ul li a{
    text-decoration: none;

}
 /* common btn */
.common-btn{
    background-color: #FD6E0A;
    padding: 6px 15px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color:wheat;
    border-style: none;
    cursor: pointer;


}
/* left 2nd btn */
.hero-left-2nd-btn{
    background-color:#fff8f3;
    padding: 6px 15px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: #fd6e0a;
    border-style: 1px solid #FD6E0A;
    cursor: pointer;


}
/* hero section */
.hero-parent{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    


}
.hero-parent-root{
    background-color: #fff8f3;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.hero-left h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 8px;
    
}
.hero-left-p1{
    font-size: 20px;
    font-weight: 177px;
    
}
/* about section */
.about-parent{
    background-color: #fff8f3;
    padding: 80px;
    margin: 70px auto;
    border-radius: 10px;
    text-align: center;

}
.about-parent p{
    margin: 10px 0;
}
.about-box-parent{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
/* what i do */
.what-i-do-parent{
    margin: 60px auto;
    text-align: center;
}




.what-i-do-box-parent{
    margin-top:30px;
    display: flex ;
    justify-content:space-between;
    gap: 8px;

}
.what-i-do-box-parent .what-i-do-box{
    border: 2px solid #FD6E0A;
    padding: 8px;
    border-radius: 10px;
    text-align: left;


}
.what-i-do-box-parent .what-i-do-box h3{
    margin: 10px 0 ;
}
/* change p tag color */
p{
    color: #757575;
    font-size: 13px;
}
/* what i do er porer part */
.resume{
    width: 85%;
    max-width: 1140px;
    margin: 100px auto;
}

.section-title{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 70px;
}

.resume-container{
    display: flex;
    gap: 45px;
}

.resume-column{
    flex: 1;
}

.resume-title{
    font-size: 24px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 25px;
}

.resume-card{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #d1d1d1;
}

.resume-card:last-child{
    border-bottom: none;
    margin-bottom: 0;
}

.resume-card h4{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 10px;
}

.resume-card h5{
    font-size: 16px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 18px;
}

.btn-box{
    text-align: center;
    margin-top: 45px;
}

/* start My Amazing Works */
.my-amazing-works{
    text-align: center ;

}
.gallery{
    margin-top: 20px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    grid-template-areas:
    "one two three"
    "four two six"
    "four five six";


}
.gallery img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.box-1{
    grid-area: one;
}
.box-2{
    grid-area: two;
}
.box-3{
    grid-area: three;
}
.box-4{
    grid-area: four;
}
.box-5{
    grid-area: five;
}
.box-6{
    grid-area: six;
}


/* end My Amazing Works */
/* start futter section */


.footer{
    background: #FFF8F3;
    margin-top: 100px;
    padding: 120px 0;
}

.footer-parent{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.footer-left,
.footer-right{
    width: 50%;
}

.footer-left h2,
.footer-right h2{
    font-size: 32px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}

.footer-left p{
    margin-bottom: 30px;
}

.social-icon{
    display: flex;
    gap: 24px;
}

.social-icon a{
    display: inline-block;
}

.social-icon img{
    width: 24px;
    height: 24px;
}

.footer-right form{
    display: flex;
    flex-direction: column;
}

.footer-right input,
.footer-right textarea{
    width: 100%;
    padding: 18px 20px;
    margin-bottom: 24px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #ffffff;
    font-size: 16px;
}

.footer-right textarea{
    resize: none;
}

.footer-right .common-btn{
    width: fit-content;
}
/* end futter section */